@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none !important;
}

@font-face {
font-family: Ubuntu;
src: url(../fonts_ubuntu/Ubuntu-Regular.ttf);
}

.roomNumberLandscape{
  display: none;
}

.headLandscapeWrapper{
  display: none;
}

.roomSetting{
  display: none !important;
}

html{
  height: 100%;
}

body{
  font-family: Ubuntu, arial, sans-serif;
  height: inherit;
  background-color: #0A1A34;
}

.wrapper{
  padding: 1.46rem;
  margin: 0 auto;
  background-color: #0A1A34; //#1d428a;
  height: inherit;
  position: relative;
  overflow: inherit;
  max-width:700px;
  overflow: hidden;
}

.head{
  height: 8VH;
  /*height: 3REM;*/
    border-bottom: 1.5px solid grey;
}

.row{height: inherit;}

.img-responsive{
  height: 100%;
  width: auto;
}

.logoCol{padding-bottom: 2.5vh;}

p{
  margin-bottom: 0px;
}

.roomNumber{padding-left: 0;}

p.roomText{
  /*font-size: 0.8rem;*/
  font-size: 2vh;
  line-height: 90%;
}

.roomNr{
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.2vh;
  color: white;
  line-height: 90%;
}

.room{
  text-align: right;
  font-size: 1rem;
  color: grey;
}

.mobile-nav{
  text-align: left;
  position: relative;
  z-index: 100;
  top:2vh;
}

.mobile-nav span, .mobile-nav span:before, .mobile-nav span:after{
  position: absolute;
  /*width: 1.25rem;*/
  width: 3.5vh;
  height: 0.2vh;
  background-color:grey;
  color:white;
}

.mobile-nav span{
  top:50%;
  transition: background .4s;
}

.mobile-nav span:before{
  content: '';
  top:-1.2vh;
  transform-origin: 0% 50%;
  transition: transform 0.5s;
}

.mobile-nav span:after{
  content: '';
  top:1.2vh;
  transform-origin: 0% 50%;
  transition: transform 0.5s;
}

.mobile-nav.visible span {background: #0A1A34;}

.mobile-nav.visible span{
  top:50%;
  transition: background .4s;
}

.mobile-nav.visible span:before{transform: rotate(45deg) translateX(0.5em) translateY(-7.2px);}

.mobile-nav.visible span:after{transform: rotate(-45deg) translateX(0.5em) translateY(7.2px);}

.burgerMenu{
  display: none;
  position: absolute;
  overflow: hidden;
  margin-top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 8rem;
  left:0;
  right:0;
  bottom: 0;
  clear: both;
}

.burgerMenu.visible{
    position: absolute;
  display: block;
  background-color: #0A1A34;
  opacity: 0.3;
}

.burgerMenuText{
  display: none;
  font-size: 5vh;
  margin: 0 auto;
  color: black !important;
  position: absolute;
  overflow: hidden;
  margin-top: 0;
  z-index: 100;
}

.burgerMenuText.visible{
display: block;
top:9vh;
}

  a:hover, a:visited, a:link {
  text-decoration: none;
  color: white;
  }

.burgerMenuText.visible{
  opacity: 1.3;
  display: table;
  margin: 0 auto;
  /*margin-top: 60%;*/
  list-style-type: none;
  font-weight: bold;
}
.burgerMenuText.visible li{
  padding-top: 15%;
  text-align: center;
}

.wrapper1.visible{
  filter: blur(11px);
  transition: 500ms filter linear;
}

.col-6 img{
  text-align: center;
  margin: 0 auto;
}

.topMenuIconText{
  text-align: center;
  margin: 0 auto;
  display: block;
}

a.topMenuIconText{
  padding: 0;
  padding-bottom: 0.3rem;
  border-bottom: 1.5px solid grey;
  font-size: 2.3vh;
}

.Left{
  padding-right: 0;
}

.Right{
  padding-left: 0;
}

.topMenuIconRight{
  border-left: 0.75px solid grey;
  padding-top: 0.5rem;
  color: white;
  /*height: 5rem;*/
}

.topMenuIconLeft{
  border-right: 0.75px solid grey;
  padding-top: 0.5rem;
  color: white;
}

.img-responsive{
  height: 100%;
  width: auto;
  display: block;
}

.responsiveness{
  height:10%;
}

.button{
  border-radius: 2em;
  margin: auto;
  font-size: 2.6vh;
  position: relative;
  margin-top:3%;
  width: 78%;
  background-color:	#0A1A34;
  border: 1px solid;
  color: #fff;
  font-weight: lighter;

  border-width: 1px;
  text-decoration: none;
  height: 10.5vh;
}

.leftButtonNr0, .leftButtonNr0:visited{color:grey; }
.leftButtonNr0.active{color:white;}

.buttonText{
  float: left;
  position: relative;
  top: 30%;
}

.buttonTextSpan{
  padding-left: 0;
}

.imgImg{
  padding-right: 2%;
  float: left:2%;
}

.buttonImg{
  display: inline !important;
  float:right;
}

.leftButtonNr1, .leftButtonNr1:visited{ border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr1.active{ border-color: #0A1A34; color:white; transition-duration: 0.3s; }

.leftButtonNr2, .leftButtonNr2:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr2.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr3, .leftButtonNr3:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr3.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr4, .leftButtonNr4:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr4.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr5, .leftButtonNr5:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr5.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr6, .leftButtonNr6:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr6.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr7, .leftButtonNr7:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr7.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr8, .leftButtonNr8:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr8.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}

.leftButtonNr9, .leftButtonNr9:visited{border-color: #0A1A34; color:grey; transition-duration: 0.4s;}
.leftButtonNr9.active{ border-color: #0A1A34; color:white; transition-duration: 0.1s; transition-duration: 0.3s}


.rightButtonNr0, .rightButtonNr0:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr0.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr1, .rightButtonNr1:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr1.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr2, .rightButtonNr2:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr2.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr3, .rightButtonNr3:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr3.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr4, .rightButtonNr4:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr4.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr5, .rightButtonNr5:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr5.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr6, .rightButtonNr6:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr6.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr7, .rightButtonNr7:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr7.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr8, .rightButtonNr8:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr8.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.rightButtonNr9, .rightButtonNr9:visited{color:grey; transition-duration: 0.4s;}
.rightButtonNr9.active{  color:white; transition-duration: 0.1s; box-shadow:0px 0px 20px #fff; transition-duration: 0.3s}

.topMenuIconTextLeft, .topMenuIconTextLeft:visited{color:grey;}
.topMenuIconTextLeft.active{  color:white; transition-duration: 1s;}

.topMenuIconTextRight, .topMenuIconTextRight:visited{color:grey;}
.topMenuIconTextRight.active{  color:white; transition-duration: 1s;}

.button:link {
	text-decoration: none;
  color:white;
}

.lightButtons{
  display: none;
  height: inherit;

  margin-top: 3%;
}

.lightButtons.active{
  display: block;
  padding-top: 3% ;

  height: inherit;
  padding-bottom: 5%;
  width: inherit;
}

.tempButtons{
  display: none;
  margin: 0 auto;
}

.tempButtons.active{
  display: block;
  font-size: 3rem;
  color: white;
  transition-duration: 1s;
  padding-top: 10%;
  width: 100%;

}

.tempSigns{
  font-size: 5vh;
  margin:0 auto;
  width: 8vh;
  height: 8vh;
  margin-top: 0.7vh;
}

.topMenuIconTextRight.active {
  transition-duration: 0s;
}

.topMenuIconTextLeft.active {
  transition-duration: 0s;
}

.tempSigns:visited{
  color: white;
}

.tempSigns:active{
  color:grey;
}

.col-4{
  padding: 0;
}

.setTemp{
  transition-duration: 0.5s;
  font-size:9vh;
  line-height: 90%;
}

.currentTemp, #temp{
  font-size: 0.2em;
  height: 10px;
}

.tempWarning{
  font-size: 20px;
  color: white;
}

.stat{
  color:white;
  display:block;
  width:100%;
  height:20px;
  overflow:scroll;
}

.col-3{
  height: inherit;
}

p.roomSettingText{
  font-size: 2.7vh;
  line-height: 170%;
  border-bottom: 1.5px solid grey;
  color: white;
}

.imgFrameLandscape{
  height: 80%;
}





@media all and (orientation:landscape) {
body{
  overflow: hidden;
}

.headLandscapeWrapper{
  display: block;
  padding: 2.2vh;
  padding-bottom: 0;
}

.headLandscape{
  display: block;
  height: 4.7vh;
}

.logoCol{
  position: relative;
  margin-left: 6%;;
  padding-bottom: 0;
  float: left;
}

.wrapper{
  max-width: 1200px;
  padding-top: 0;
}

.head{
  display: none;
}

.roomNumberLandscape{
  color: white;
}

.button{
  font-size: 3.5vh;
}

.roomNumberLandscape{
  display: block;
}

.roomTextLandscape{
  text-align: center;
  font-size: 2vh;
  color: gray;
}

.roomNrLandscape{
  text-align: center;
  font-size: 4vh;
  color: white;
  line-height: 90%;
}

.lightButtons{
  margin-top: 0;
}

.topMenuIconRight{
  border-right: 0.75px solid grey;
  border-top: 1.5px solid grey;
  margin-top: 6%;
}

.topMenuIconLeft{
  border-left: 0.75px solid grey;
  border-top:1.5px solid grey;
  margin-top: 6%;
}

a.topMenuIconText{
  font-size:3vh;
}

.button{
  width: 45%;
}

.imgFrameLandscape{
  height: 8vh;
}

.roomSettingText{
  font-size: 2.7vh;
  line-height: 170%;
  border-bottom: 1.5px solid grey;
}

.tempSigns{
  width: 9vh;
  height: 9vh;
}


}
